.search-user-by-id {
  width: 80%;
  background-color: white;
  border-radius: 8px;
  margin: 48px auto 72px auto;
  padding: 32px;

  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    font-size: 24px;
    text-align: center;
    color: rgba(black, 0.9);
  }

  .input-and-search {
    width: 100%;
    display: flex;
    align-items: center;

    mat-form-field {
      width: 75%;
      margin-right: 25px;
    }
  }
}

.user-expenses-result {
  background-color: white;
  padding: 60px 0;

  h2 {
    font-size: 24px;
    text-align: center;
    color: rgba(black, 0.9);
    margin-bottom: 16px;
  }

  table {
    width: 80%;
    margin: auto;
  }
}

mat-spinner {
  width: auto;
  margin: auto;
}

.predict-wrapper {
  hr {
    margin: 20px 0;
  }
}

.business-metrics-container {
  padding: 60px 0;
  background-color: #f4f4f4;

  h2 {
    font-size: 32px;
    color: rgba(black, 0.8);
    font-weight: bold;
    text-align: center;
  }

  .business-metrics {
    padding: 32px;
    display: flex;
    justify-content: center;

    .business-metric {
      margin: 0 20px;

      span.first {
        font-size: 48px;
        text-align: center;
        margin-bottom: 20px;
        color: rgba(black, 0.9);
      }

      span.second {
        font-size: 24px;
        color: rgba(black, 0.6);
      }
    }
  }
}
