<div class="container80 predict">
  <div class="card" *ngFor="let userMetric of userMetrics; let i = index">
    <div class="description">
      <div class="left">
        <div class="user-id column">
          <span class="first bold">{{ userMetric.party_rk }}</span>
          <span class="second">User ID</span>
        </div>
        <div class="month column">
          <span class="first bold">{{ i + 1 }}</span>
          <span class="second">месяц</span>
        </div>
      </div>
      <div class="right cashbacks">
        <div class="column">
          <div class="potential">
            <span class="bold">{{ userMetric.potentional_cashback }}₽</span>
            Потенциальный кэшбек
          </div>
          <div class="earned">
            <span class="bold">{{ userMetric.real_cashback }}₽</span>
            &nbsp;&nbsp;&nbsp;Заработанный кэшбек
          </div>
        </div>
      </div>
    </div>
    <hr />
    <div class="categories">
      <p>Рекомендуемые категории</p>
      <div class="row">
        <div
          class="category column"
          *ngFor="
            let category of userMetric.cashback_category_pred;
            let i = index
          "
        >
          <img [src]="categoryImage[category]" />
          <span class="category-name">{{ category }}</span>
          <span class="category-position">{{ mapIndexPosition2Str(i) }}</span>
        </div>
      </div>
    </div>
  </div>
</div>
