<div class="container80 predict">
  <div class="card">
    <div class="description">
      <div class="left user-id column">
        <span class="first bold">{{ userMetrics.party_rk }}</span>
        <span class="second">User ID</span>
      </div>
      <div class="right cashbacks">
        <div class="column">
          <div class="potential">
            <span class="bold">{{ userMetrics.potentional_cashback }}₽</span>
            Потенциальный кэшбек
          </div>
          <div class="earned">
            <span class="bold">{{ userMetrics.real_cashback }}₽</span>
            Заработанный кэшбек
          </div>
        </div>
      </div>
    </div>
    <hr />
    <div class="categories">
      <p>Рекомендуемые категории</p>
      <div class="row">
        <div
          class="category column"
          *ngFor="
            let category of userMetrics.cashback_category_pred;
            let i = index
          "
        >
          <img [src]="categoryImage[category]" />
          <span class="category-name">{{ category }}</span>
          <span class="category-position">{{ mapIndexPosition2Str(i) }}</span>
        </div>
      </div>
    </div>
  </div>
</div>
