/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@font-face {
  font-family: Tinkoff;
  src: url("https://www.cdn-tinkoff.ru/platform/fonts/TinkoffSans/v1/TinkoffSans.woff2")
    format("woff2");
}

* {
  box-sizing: border-box;
  font-family: Tinkoff, Roboto, "Helvetica Neue", sans-serif !important;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  background-color: #f4f4f4;
}

span.bold {
  font-weight: bold;
}

.container90 {
  width: 90%;
  margin: auto;
}

.container80 {
  width: 80%;
  margin: auto;
}

.btn {
  cursor: pointer;

  &[disabled] {
    opacity: 0.75;
  }
}

.btn-tinkoff {
  height: 40px;
  min-width: 48px;
  padding: 10px 35px 10px;
  background-color: #ffdd2d;
  border: 1px solid #ffdd2d;
  border-radius: 5px;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.8);
}

.column {
  display: flex;
  flex-direction: column;

  .first {
    font-size: 16px;
  }

  .second {
    font-size: 12px;
  }
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

button:focus {
  outline: 0;
}

.mat-progress-spinner circle,
.mat-spinner circle {
  stroke: #ffdd2d;
}

.loading-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  background-color: rgba(black, 0.7);

  display: flex;
  justify-content: center;
  align-items: center;

  .spinner-container {
    display: flex;
    flex-direction: column-reverse;

    h3 {
      margin-top: 10px;
      font-size: 16px;
      font-weight: 400;
      color: white;
      text-align: center;
    }
  }
}
