<div class="container80 edit-cashback">
  <h2>Изменить процент кэшбека</h2>
  <div class="controls">
    <div
      class="control-card"
      *ngFor="let control of formGroup.controls | keyvalue"
    >
      <img [src]="categoryImage[control.key]" />
      <div class="column">
        <span class="control-label">
          {{ control.key }}
        </span>
        <mat-form-field appearance="standard">
          <!-- <mat-label>{{ control.key }}</mat-label> -->
          <input matInput type="number" [formControl]="control.value" />
          <span matSuffix>%</span>
          <mat-error *ngIf="control.value.hasError('min')">
            Значение должно быть больше 0
          </mat-error>
          <mat-error *ngIf="control.value.hasError('max')">
            Значение должно быть меньше 100
          </mat-error>
        </mat-form-field>
      </div>
    </div>
  </div>

  <button
    class="btn btn-tinkoff"
    [disabled]="formGroup.invalid"
    (click)="saveCashbackSettings()"
  >
    Сохранить
  </button>
</div>
<div class="loading-backdrop" *ngIf="isLoading">
  <div class="spinner-container">
    <mat-spinner></mat-spinner>
  </div>
</div>
