.edit-cashback {
  padding: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    font-size: 24px;
    text-align: center;
    color: rgba(black, 0.9);
  }

  .controls {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;

    .control-card {
      background-color: white;
      height: 150px;
      width: calc(50% - 20px);
      margin-bottom: 30px;
      display: flex;
      align-items: center;

      &:nth-child(odd) {
        margin-right: 20px;
      }

      img {
        width: 20%;
        height: 100%;
        object-fit: cover;
      }

      .column {
        .control-label {
          font-size: 20px;
          color: rgba(black, 0.8);
        }

        padding: 15px;
        width: 80%;
      }
    }
  }
}
